<div style="min-height: 350px;  display: flex; flex-direction: row; 
justify-content: center; align-items: center;margin-top: 30px;">
<div class="columns">
<div class="column">
<app-datepicker 
  [locale] = "locale"
  (emitSelectedDate) = "setSelectedDate($event)"
  [canChangeNavMonthLogic] = "canChangeMonthLogic"
  [isAvailableLogic] = "isAvailableLogic"
  ></app-datepicker>

  <h4 class="title is-4">Selected day:</h4>
  <h4 class="subtitle" *ngIf = "selectedDate">{{selectedDate.format('dddd MMMM Do YYYY')}}</h4>
</div>
</div>
</div>
